# PostgreSQL
POSTGRES_VERSION=18

POSTGRES_CONTAINER_NAME=corporateTalentHub_db

POSTGRES_DB=corporateTalentHub
POSTGRES_USER=corporateTalentHub
POSTGRES_PASSWORD=12345

POSTGRES_PORT=5436
POSTGRES_VOLUME_NAME=corporateTalentHub_vol